.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}
/***
 FOOTER
***/
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(109, 109, 109);
  color: white;
  text-align: center;
  height: 2.5rem;            /* Footer height */
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}


.footer-container {
  width: 80%;
  margin: 20px auto;
  padding: 20px 50;/*
  El padding posiciona el footer en su lugar*/

  text-align: center;
  font-weight: bold;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
